@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { height: 100%; }

@keyframes fadeIn {
  from { opacity: 0; transform: scale(.96); }
  to { opacity: 1; transform: scale(1); }
}
